{
    "root": true,
    "overrides": [
      {
        "files": ["src/**/*.js"],
        "env": {
          "browser": true
        },
        "extends": ["eslint:recommended", "plugin:compat/recommended"],
        "plugins": [],
        "rules": {
          "semi": [
            "error",
            "always"
          ],
          "no-console": "warn",
          "no-unused-vars": "error",
          "no-trailing-spaces": 1,
          "prefer-arrow-callback": "off",
          "prefer-const": "warn",
          "no-undef": "off",
          "indent": [
            "error",
            4
          ],
          "linebreak-style": [
            "error",
            "unix"
          ],
          "quotes": [
            "error",
            "double"
          ]
        }
      },
      {
        "files": [
          "src/**/*.ts"
        ],
        "parser": "@typescript-eslint/parser",
        "env": {
          "node": true,
          "jest": true
        },
        "extends": [
          "plugin:@typescript-eslint/recommended",
          "prettier/@typescript-eslint",
          "plugin:prettier/recommended"
        ],
        "parserOptions": {
          "project": "./tsconfig.json",
          "sourceType": "module"
        },
        "rules": {
          "@typescript-eslint/array-type": [
            "error",
            {
              "default": "array"
            }
          ],
          "@typescript-eslint/ban-ts-comment": "error",
          "@typescript-eslint/consistent-type-definitions": "error",
          "@typescript-eslint/explicit-member-accessibility": [
            "off",
            {
              "accessibility": "explicit"
            }
          ],
          "@typescript-eslint/explicit-module-boundary-types": "warn",
          "@typescript-eslint/member-ordering": "error",
          "@typescript-eslint/no-explicit-any": "off",
          "@typescript-eslint/no-extra-non-null-assertion": "error",
          "@typescript-eslint/no-extra-semi": "error",
          "@typescript-eslint/no-floating-promises": "error",
          "@typescript-eslint/no-non-null-asserted-optional-chain": "error",
          "@typescript-eslint/no-parameter-properties": "off",
          "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
          "@typescript-eslint/no-unused-expressions": "error",
          "@typescript-eslint/prefer-as-const": "error",
          "@typescript-eslint/prefer-for-of": "error",
          "@typescript-eslint/prefer-function-type": "error",
          "@typescript-eslint/prefer-readonly": "error",
          "@typescript-eslint/promise-function-async": "error",
          "@typescript-eslint/quotes": [
            "error",
            "double",
            {
              "avoidEscape": true
            }
          ],
          "@typescript-eslint/semi": [
            "error",
            "always"
          ],
          "@typescript-eslint/triple-slash-reference": [
            "error",
            {
              "path": "always",
              "types": "prefer-import",
              "lib": "always"
            }
          ],
          "@typescript-eslint/unified-signatures": "error",
          "@typescript-eslint/no-magic-numbers": [
            "error",
            {
              "ignore": [-1, 0, 1],
              "ignoreEnums": true
            }
          ],
          "@typescript-eslint/no-unused-vars": [
            "warn",
            {
              "args": "after-used",
              "varsIgnorePattern": "Mini"
            }
          ],
          "arrow-parens": [
            "error",
            "always"
          ],
          "brace-style": [
            "error",
            "1tbs"
          ],
          "complexity": [
            "error",
            {
              "max": 6
            }
          ],
          "constructor-super": "error",
          "curly": "error",
          "eol-last": "error",
          "eqeqeq": [
            "error",
            "smart"
          ],
          "for-direction": "error",
          "getter-return": "error",
          "guard-for-in": "error",
          "id-match": "error",
          "max-classes-per-file": [
            "error",
            1
          ],
          "max-len": "off",
          "new-parens": "error",
          "no-async-promise-executor": "error",
          "no-caller": "error",
          "no-case-declarations": "error",
          "no-class-assign": "error",
          "no-compare-neg-zero": "error",
          "no-cond-assign": "error",
          "no-console": "off",
          "no-const-assign": "error",
          "no-constant-condition": "error",
          "no-control-regex": "error",
          "no-debugger": "error",
          "no-delete-var": "error",
          "no-dupe-args": "error",
          "no-dupe-class-members": "error",
          "no-dupe-else-if": "error",
          "no-dupe-keys": "error",
          "no-duplicate-case": "error",
          "no-duplicate-imports": "error",
          "no-empty": "error",
          "no-empty-character-class": "error",
          "no-empty-pattern": "error",
          "no-eval": "error",
          "no-ex-assign": "error",
          "no-extra-bind": "error",
          "no-extra-boolean-cast": "error",
          "no-extra-semi": "off",
          "no-fallthrough": "off",
          "no-func-assign": "error",
          "no-global-assign": "error",
          "no-import-assign": "error",
          "no-inner-declarations": "error",
          "no-invalid-regexp": "error",
          "no-invalid-this": "off",
          "no-irregular-whitespace": "error",
          "no-magic-numbers": "off",
          "no-misleading-character-class": "error",
          "no-mixed-spaces-and-tabs": "error",
          "no-multiple-empty-lines": "error",
          "no-new-symbol": "error",
          "no-new-wrappers": "error",
          "no-obj-calls": "error",
          "no-octal": "error",
          "no-prototype-builtins": "error",
          "no-redeclare": "error",
          "no-regex-spaces": "error",
          "no-return-await": "error",
          "no-self-assign": "error",
          "no-setter-return": "error",
          "no-shadow": "off",
          "@typescript-eslint/no-shadow": [
            "error",
            {
              "hoist": "all"
            }
          ],
          "no-shadow-restricted-names": "error",
          "no-sparse-arrays": "error",
          "no-template-curly-in-string": "error",
          "no-this-before-super": "error",
          "no-throw-literal": "error",
          "no-trailing-spaces": "error",
          "no-undef": "error",
          "no-undef-init": "error",
          "no-underscore-dangle": "off",
          "no-unexpected-multiline": "error",
          "no-unreachable": "error",
          "no-unsafe-finally": "error",
          "no-unsafe-negation": "error",
          "no-unused-labels": "error",
          "no-useless-catch": "error",
          "no-useless-escape": "error",
          "no-with": "error",
          "object-shorthand": "error",
          "one-var": [
            "error",
            "never"
          ],
          "prefer-template": "error",
          "quote-props": "off",
          "radix": "error",
          "require-yield": "error",
          "space-before-function-paren": [
            "error",
            {
              "anonymous": "always",
              "named": "never",
              "asyncArrow": "always"
            }
          ],
          "space-in-parens": [
            "off",
            "never"
          ],
          "spaced-comment": [
            "error",
            "always",
            {
              "markers": [
                "/"
              ]
            }
          ],
          "use-isnan": "error",
          "valid-typeof": "off",
          "sort-imports": "error"
        }
      }
    ]
}
  